.site-about{
	width: 100vw;
	height: auto;
	display: table;
	position: relative;
}

.nhl{
	position: absolute;
	width: 100vw;
	height: 160vh;
	z-index: -1;
}

.about-head{
  text-align: center;
  color: #f8f8f8;
  margin: 0;
  background-color: #222;
  opacity: 0.8;
  padding-top: 160px;
  padding-bottom: 160px;
}

.about-head > h1{
  color: #f8f8f8;
  font-size: 8rem;
  font-family: 'Neucha', cursive;
  line-height: 1.334;
  margin: 0 auto;
}

.about-we{
  text-align: center;
  color: #222;
  margin: 0;
  background-color: #f8f8f8;
}

.about-we > .row{
  margin-top: 0;
  padding-top: 70px;
  text-align: center;
}

.about-we > .row > h2{
  font-size: 38px;
}

.about-info{
  margin: 50px 0 90px 0;
  padding-left: 10vw;
  padding-right: 10vw;
}

.about-info > p{
  color: rgba(0, 0, 0, 0.6);
  padding: 30px 10vw;
  font-size: 24px;
}

.about-contact{
  background-color: #222;
  border: 2px solid #05bca9;
  margin-top: 80px;
	margin-bottom: 0;
	padding: 50px 15vw;
}

.about-contact button{
  margin: 0 auto;
  background-color: #05bca9;
  color: #f8f8f8;
	font-size: 1.7em;
}

.about-contact button:hover{
  transform: none;
  color: #222;
}

.about-contact phone{
  font-size: 2em;
  color: #f8f8f8;
}

.equipment{
	background-color: #f8f8f8;
	text-align: center;
}

.equipment h2{
	padding: 50px 2vw 5px 2vw;
	font-size: 2.8em;
}

.equipment a.stroke{
	color: #222;
	font-size: 2.4em;
	padding: 15px;
  border: 3px solid #222;
  border-radius: 30px;
  display: inline-block;
  margin: 2vw;
}

.equipment a.stroke:hover{
	color: #05bca9;
  border: 3px solid #05bca9;
}

.coaches{
	color: #222;
  background-color: #d4d4d4;
  margin: 0;
  text-align: center;
  padding: 50px 5vw 50px 10vw;
}

.coaches-info{
	text-align: left;
	padding: 0 10vw 0 0;
}

.coaches-info > h3{
	font-size: 2.5em;
	padding-bottom: 20px;
	padding-top: 50px;
}

.coaches-info > h4{
	font-size: 2em;
	padding-bottom: 15px;
	color: #05bca9;
}

.coaches-info > p{
	font-size: 1.5em;
	color: rgba(0,0,0,.5);
}

.coaches .coach{
	width: 20vw;
	height: 18vw;
}

.hr-black{
	border: 1px solid #222;
	width: 75vw;
}

.about-photo{
	background-color: #05bca9;
	margin: 0;
	padding: 0;
	padding: 30px 5vw;
	text-align: center;
}

.about-photo h2{
	padding-bottom: 10px;
}

.about-photo hr{
	border: 1px solid #f8f8f8;
	margin-bottom: 70px;
}

.about-photo #myCarousel img{
  width: 45vw;
  height: 30vw;
  opacity:1;
	margin: 0 auto;
}

.about-photo .stroke{
	color: #222;
	font-size: 2.4em;
	padding: 15px;
  border: 3px solid #222;
  border-radius: 30px;
  display: inline-block;
  margin: 70px 2vw;
}

.about-photo .stroke:hover{
	color: #f8f8f8;
  border: 3px solid #f8f8f8;
}

.overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;
    background-color: rgba(0, 0, 0, 0.65);
    position: fixed;
    cursor: default;
}

.overlay:target {
    display: block;
}

.popup {
    top: -100%;
    right: 0;
    left: 50%;
    font-size: 14px;
    z-index: 20;
    margin: 0;
		margin-top: 30px;
    width: 60vw;
		height: auto;
		max-height: 90vh;
    position: fixed;
    padding: 15px;
    border: 1px solid #383838;
    background: #fefefe;
    border-radius: 4px;
    font: 14px/18px 'Tahoma', Arial, sans-serif;
    box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    transform: translate(-50%, -500%);
    transition: transform 0.6s ease-out;
}

.overlay:target+.popup {
    transform: translate(-50%, 0);
    top: 80px;
}

.close {
    top: -10px;
    right: -10px;
    width: 40px;
    height: 40px;
    position: absolute;
    padding: 0;
    border: 2px solid #ccc;
    border-radius: 20px;
    background-color: rgba(252, 20, 0, 0.8);
    box-shadow: 0px 0px 10px #000;
    text-align: center;
    text-decoration: none;
    font: 1.5em 'Tahoma', Arial, sans-serif;
    font-weight: bold;
    transition: all ease .8s;
}
.close:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
    font-size: 12px;
}
.close:hover {
    transform: rotate(360deg);
}

.popup img {
    width: 100%;
    height: auto;
		max-height: 80vh;
}

.pic-left,
.pic-right {
    width: 25%;
    height: auto;
}
.pic-left {
    float: left;
    margin: 5px 15px 5px 0;
}
.pic-right {
    float: right;
    margin: 5px 0 5px 15px;
}

.popup embed,
.popup iframe {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display:block;
    margin: auto;
    min-width: 320px;
    max-width: 600px;
    width: 100%;
}
.popup h2 {
    margin: 0;
    color: #008000;
    padding: 5px 0px 10px;
    text-align: left;
    text-shadow: 1px 1px 3px #adadad;
    font-weight: 500;
    font-size: 1.4em;
    font-family: 'Tahoma', Arial, sans-serif;
    line-height: 1.3;
}

.popup p {margin: 0; padding: 5px 0}

@media (min-width: 0) and (max-width: 767px) {
	.site-about{
		padding-right: 1vw;
	}

  .about-head > h1{
    font-size: 3.5rem;
  }

	.about-we > .row > h2{
	  font-size: 26px;
	}

  .about-info > p{
    font-size: 18px;
  }

  .about-contact phone{
    font-size: 20px;
  }

  .about-contact{
    border-radius: 0;
    margin-bottom: 0;
  }

  .about-we > .row > .about-info > p{
    padding-bottom: 5px;
  }

	.coaches-info{
		text-align: center;
		padding: 0 5vw;
	}

	.coaches .coach{
		width: 70vw;
		height: 65vw;
	}

	.nhl{
		height: 80vh;
	}

	.popup {
		width: 90vw;
	}

}

@media (min-width: 768px) and (max-width: 991px) {
  .about-head > h1{
    font-size: 5rem;
  }

	.about-we > .row > .about-info > p{
    font-size: 18px;
  }

  .about-contact phone{
    font-size: 20px;
  }

  .about-contact{
    border-radius: 0;
    margin-bottom: 0;
  }

  .about-we > .row > .about-info > p{
    padding-bottom: 5px;
  }

	.coaches-info{
		text-align: center;
		padding: 0 5vw;
	}

	.coaches .coach{
		width: 60vw;
		height: 55vw;
	}

	.nhl{
		height: 100vh;
	}

	.popup {
		width: 80vw;
	}

}

@media (min-width: 992px) and (max-width: 1199px) {
  .about-head > h1{
    font-size: 6rem;
  }

  .about-we > .row > .about-info > p{
    font-size: 18px;
  }

  .about-contact phone{
    font-size: 20px;
  }

  .about-contact img{
    width: 32px;
    height: 32px;
  }

  .about-contact button{
    font-size: 14px;
  }

	.nhl{
		height: 120vh;
	}
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .about-we > .row > .about-info > p{
    font-size: 20px;
  }

	.nhl{
		height: 140vh;
	}

  .about-contact phone{
    font-size: 24px;
  }
}
