.site-blog{
  background-color: #d4d4d4;
  text-align: center;
  margin: 0;
  padding-bottom: 20px;
}

.site-blog img{
  width: 40vw;
  height: auto;
}

.site-blog h3{
  margin: 0;
  padding-top: 100px;
  color: rgba(0,0,0,0.5);
}

.blog{
  background-color: #f8f8f8;
  margin-bottom: 30px;
  margin-left: 10vw;
  margin-right: 10vw;
  padding: 0 5vw 10px 5vw;
}

.comment{
  background-color: #f8f8f8;
  margin:30px 10vw;
  text-align: left;
  padding: 30px;
}

.comment h2{
  color: #05bca9;
}

.comment h4{
  color: rgba(0,0,0,0.5);
  margin-bottom: 30px;
}

.comment p{
  font-size: 1.4em;
}

.desc{
  color: rgba(0,0,0,0.5);
  font-size: 1.5em;
  padding: 20px 7%;
}

.cont{
  padding: 30px 7vw;
  font-size: 1.3em;
  text-align: left;
}

iframe{
  width: 45vw;
  height: 26vw;
  margin: 30px auto;
}

.alert-danger, .alert-success{
  margin:20px 10vw 0 10vw;
}

.danger{
  margin: 0;
  padding: 0;
  color: #a94442;
}

.danger:hover{
  color: darkred;
}

.danger p{
  margin: 0;
  padding: 0;
}

#commentform-comment{
  margin: 10px auto;
  width: 50%;
  height: auto;
  margin-bottom: 0;
}

.btn-com{
  background-color: #05bca9;
  color: #f8f8f8;
  font-size: 1.5em;
}

.btn-com:hover{
  color: #222;
}

.pagination > .active > a,
.pagination > .active > a:hover{
  background-color: #05bca9;
  border: none;
}

@media (min-width: 0) and (max-width: 767px) {
  .blog{
    margin-left: 0;
    margin-right: 0;
  }

  .site-blog h1{
    font-size: 2em;
  }

  .site-blog img{
    width: 70vw;
  }

  .comment h4, .desc{
    font-size: 1.3em;
  }

  .cont{
    padding: 30px 3vw;
    font-size: 1.1em;
  }

  .comment h2{
    font-size: 1.8em;
  }

  .comment p{
    font-size: 1.1em;
  }

  iframe{
    width: 65vw;
    height: 38vw;
  }

  .btn-com{
    font-size: 1.2em;
  }
}
