.site-category{
  width: 100vw;
	height: auto;
	display: table;
	position: relative;
  margin: 0;
  padding: 0;
  background-color: #d4d4d4;
  text-align: center;
}

.category-block{
  background-color: #05bca9;
  padding-bottom: 20px;
}

.category-block > h1{
  margin: 0;
  padding-top: 100px;
  padding-bottom: 20px;
  font-family: 'Neucha', cursive;
  font-size: 4em;
  color: #f8f8f8;
}

.category{
  background-color: #f8f8f8;
  margin: 7vw 15vw;
  margin-top: 40px;
  padding-bottom: 30px;
}

.category h2{
  color: #05bca9;
  margin: 30px auto;
}

.category h3, .category p{
  color: rgba(0,0,0,0.5);
}

.category img{
  margin-top: 5%;
  width: 40vw;
  height: auto;
}

.hr-black{
  border: 1px solid #222;
}

.category p{
  font-size: 1.5em;
  margin-left: 5%;
  margin-right: 5%;
}

.category a:hover{
	color: #05bca9;
  border: 3px solid #05bca9;
}

.more{
  margin: 50px auto;
}

.category a{
  color: #222;
	font-size: 2.4em;
	padding: 15px;
  border: 3px solid #222;
  border-radius: 30px;
}

.stat, .stat i{
  color: rgba(0,0,0,0.5);
}

.pagination > .active > a,
.pagination > .active > a:hover{
  background-color: #05bca9;
  border: none;
}

@media (min-width: 0) and (max-width: 767px) {
  .category-block > h1{
    font-size: 3em;
    padding-right: 5vw;
    padding-left: 5vw;
  }

  .category img{
    width: 60vw;
  }

  .category{
    margin-right: 0;
    margin-left: 0;
  }

  .category h2{
    font-size: 1.8em;
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .category p{
    font-size: 1.3em;
  }

  .category a{
  	font-size: 2em;
  }
}
