.pages-error{
  background: url(../images/backgrounds/404.jpg) no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	width: 100vw;
	height: 100vh;
	min-height: 720px;
	display: table;
	position: relative;
  text-align: center;
}

.pages-error > h1{
  color: #222;
  font-size: 8rem;
  font-family: 'Neucha', cursive;
  line-height: 1.334;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 500px;
}

.pages-error button.btn-error{
  margin: 25px 0;
  padding: 15px;
  background-color: transparent;
  color: #222;
  font-size: 20px;
  border: 2px solid #222;
  border-radius: 30px;
}

.pages-error button.btn-error:hover{
  color: #f8f8f8;
  border: 2px solid #f8f8f8;
}

@media (min-width: 0) and (max-width: 767px) {
  .pages-error > h1{
    font-size: 5rem;
  }
}
