a, a:hover, phone{
  text-decoration: none;
}

@-webkit-keyframes FadeIn {
  100% {
		opacity: 1;
	}
}

@-moz-keyframes FadeIn {
  100% {
		opacity: 1;
	}
}

@keyframes FadeIn {
	100% {
		opacity: 1;
	}
}

.landing-info{
  opacity: 0;
  text-align: center;
  margin-top: 30vh;
  animation: FadeIn 3s linear;
  animation-fill-mode: forwards;
}

.landing-info h5{
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.8rem;
  line-height: 1.667;
  margin-bottom: 0.6rem;
  text-transform: uppercase;
  letter-spacing: .25rem;
}

.landing-info h1{
  color: #f8f8f8;
  font-size: 8rem;
  font-family: 'Neucha', cursive;
  line-height: 1.334;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

.we > div{
  text-align: center;
}

.stroke{
  color: #f8f8f8;
  font-size: 2.4rem;
  padding: 15px;
  border: 3px solid #f8f8f8;
  border-radius: 30px;
  display: inline-block;
  margin: 40px;
}

.stroke:hover,
.training .stroke:hover,
.we .stroke:hover{
  color: #05bca9;
  border: 3px solid #05bca9;
  border-radius: 30px;
}

.training .stroke,
.we .stroke{
  color: #222;
  border: 3px solid #222;
}

.market-landing{
  background: url(../images/backgrounds/background-landing.jpg) no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	width: 100vw;
	height: auto;
	min-height: 720px;
	display: table;
	position: relative;
  opacity: 0.9;
}

.market-landing > .row{
  margin-top: 240px;
}

.market-landing > .row div{
  text-align: center;
}

.market-landing > .row phone{
  font-size: 28px;
  color: #f8f8f8;
}

.market-landing > .row i{
  color: #05bca9;
}

.market-landing > .row button{
  font-size: 17px;
  color: #f8f8f8;
  background-color:#05bca9;
  margin-top: 17px;
  transition: transform 1s;
}

.market-landing > .row button:hover{
  transform: scale(1.3);
  color: #222;
}

.market-landing > .row > .social{
  margin-top: 20px;
}

.market-landing > .row > .social img{
  height: 54px;
  width: 54px;
  margin-bottom: 26px;
}

.site-index .we .index-we,
.site-index .we .index-we > h1,
.site-index .we .index-we > h3{
    background-color: transparent;
    margin: 0;
    padding: 0;
}

.site-index{
  background-color: #f8f8f8;
  width: 100vw;
  margin: 0;
  padding: 0;
  position: relative;
}

.site-index .we .index-we{
  text-align: center;
  color: #222;
}

.site-index .we .index-we > h3{
  padding-top: 60px;
  padding-bottom: 10px;
  opacity: 0.5;
  font-size: 1.8rem;
  line-height: 1.667;
  margin-bottom: 0.6rem;
  text-transform: uppercase;
  letter-spacing: .25rem;
}

.site-index .we hr{
  margin-bottom: 60px;
}

.site-index .we {
  margin-top: 0;
  margin-bottom: 60px;
}

.site-index .we p{
  text-align: center;
  padding: 10px;
  font-size: 18px;
  opacity: 0.85;
  line-height: 1.6;
}

.site-index .we .img-left{
  height: 550px;
  width: 400px;
  padding-top: 150px;
}

.site-index .we .img-right{
  height: 550px;
  width: 400px;
  padding-top: 150px;
}

.site-index .training{
  background-color: #d4d4d4;
  margin: 0;
  padding-top: 60px;
  text-align: center;
}

.site-index .training hr{
  margin-bottom: 60px;
}

.site-index .training .dribbling,
.site-index .training .shot,
.site-index .training .skating{
  height: 350px;
  width: 483px;
	position: relative;
  margin: 10px auto;
}

.site-index .training .dribbling img,
.site-index .training .shot img,
.site-index .training .skating img{
  height: 350px;
  width: 483px;
}

.site-index .training .shot{
  height: 350px;
  width: 483px;
	position: relative;
  margin: 10px auto;
}

.site-index .training .skating{
  height: 350px;
  width: 483px;
	position: relative;
  margin: 10px auto;
}

.site-index .training h3{
  color: #f8f8f8;
  padding: 20px;
  margin: 0;
  font-size: 28px;
  height: auto;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #05bca9;
}

.site-index .training h3:hover{
  opacity: 0.8;
  font-size: 32px;
}

.site-index .training > .training-contact > div{
  margin-top: 40px;
  margin-bottom: 50px;
}

.site-index .training p{
  color: rgba(0, 0, 0, 0.6);
}

.site-index .training > .training-contact > .training-contact-phone,
.site-index .training > .training-contact > .training-contact-social{
  padding-top: 45px;
}

.site-index .training > .training-contact > .training-contact-phone > phone{
  color: #222;
  font-size: 28px;
}

.training > p{
  font-size: 2em;
  padding-top: 400px;
}

.site-index > .news{
  background-color: #05bca9;
  margin: 0;
  padding: 30px 0;
  text-align: center;
}

.site-index > .news h1{
  color: #222;
  margin-top: 50px;
}

.site-index > .news hr{
  border: 1px solid #f8f8f8;
}

.site-index > .news > .subscribe{
  margin: 30px 230px;
}

.site-index > .news > .subscribe input{
  display: block;
  padding: 9px;
  font-size: 20px;
  border: 5px solid rgba(255, 255, 255, .5);
  @include box-shadow(
  0 2px 10px rgba(0, 0, 0, .25) inset,
  0 2px 10px rgba(0, 0, 0, .25));
  @include border-radius(10px);
  background: rgba(255, 255, 255, .5);
  @include appearance(none);
  outline: none;
  color: #222;
  width: 70%;
  float:right;
}

.site-index > .news > .subscribe > .subscribe-input{
  text-align: right;
}

.site-index > .news > .subscribe > .subscribe-btn{
  text-align: left;
}

.site-index > .news > .subscribe > .subscribe-btn > button{
  padding: 10px;
  font-size: 20px;
  margin-left: 10px;
  margin-top: 3px;
  border: none;
  border: 2px solid #f8f8f8;
  background-color: transparent;
  color: #f8f8f8;

}

.site-index > .news > .subscribe > .subscribe-btn > button:hover{
  transform: none;
  color: #222;
  border: 2px solid #222;
}

.articles{
  text-align: center;
}

.articles > h1{
  margin-top: 70px;
  margin-bottom: 20px;
}

.articles > .stroke{
  color: #222;
  border: 3px solid #222;
}

.articles > .stroke:hover{
  color: #05bca9;
  border: 3px solid #05bca9;
}

@media (min-width: 0) and (max-width: 767px) {
  .market-landing ,  .site-index{
    padding-right: 1vw;
  }

  .landing-info h1{
    font-size: 4rem;
  }

  .landing-info h5{
    font-size: 1.3rem;
  }

  .site-index .we p{
    padding: 10px 30px;
  }

  .site-index .we .img-left,
  .site-index .we .img-right{
    height: 200px;
    width: 272px;
    padding: 0;
  }

  .site-index .training .dribbling,
  .site-index .training .shot,
  .site-index .training .skating,
  .site-index .training .dribbling img,
  .site-index .training .shot img,
  .site-index .training .skating img{
    height: 290px;
    width: 90vw;
  }

  .site-index .training .training-contact {
    margin: 0;
    padding: 0;
  }

  .site-index .training > .training-contact > .training-contact-phone,
  .site-index .training > .training-contact > .training-contact-social{
    padding: 5px 0;
  }

  .site-index > .news > .subscribe{
    margin: 10px 20px;
  }

  .site-index > .news > .subscribe > .subscribe-input,
  .site-index > .news > .subscribe > .subscribe-btn{
    text-align: center;
  }

  .site-index > .news > .subscribe > .subscribe-input > input{
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
  .site-index > .news > .subscribe > .subscribe-btn > button{
    margin-bottom: 20px;
    margin-top: 10px;
  }

  .site-index .training > .training-contact > .training-contact-phone > phone{
    font-size: 20px;
  }

  .trainin.stroke{
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .site-index .training > .training-contact > div{
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .landing-info h1{
    font-size: 5rem;
  }

  .site-index .we p{
    padding: 10px 30px;
  }

  .site-index .we .img-left,
  .site-index .we .img-right{
    height: 250px;
    width: 340px;
    padding: 0;
  }

  .site-index .training .training-contact {
    margin: 0;
    padding: 0;
  }

  .site-index .training > .training-contact > .training-contact-phone,
  .site-index .training > .training-contact > .training-contact-social{
    padding: 5px 0;
  }

  .site-index > .news > .subscribe{
    margin: 10px 20px;
  }

  .site-index > .news > .subscribe > .subscribe-input,
  .site-index > .news > .subscribe > .subscribe-btn{
    text-align: center;
  }

  .site-index > .news > .subscribe > .subscribe-btn > button{
    margin-bottom: 20px;
  }

  .site-index > .news > .subscribe > .subscribe-input > input{
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  .site-index > .news > .subscribe > .subscribe-btn > button{
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 16px;
  }

  .site-index .training > .training-contact > .training-contact-phone > phone{
    font-size: 26px;
  }

  .training a.stroke{
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .site-index .training > .training-contact > div{
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .landing-info h1{
    font-size: 6rem;
  }

  .site-index .we p{
    padding: 10px 30px;
  }

  .site-index .we .img-left,
  .site-index .we .img-right{
    margin-top: 60px;
    height: 420px;
    width: 280px;
  }

  .site-index .training .dribbling,
  .site-index .training .shot,
  .site-index .training .skating,
  .site-index .training .dribbling img,
  .site-index .training .shot img,
  .site-index .training .skating img{
    height: 232px;
    width: 320px;
  }

  .site-index .training .training-contact-social img{
    height: 40px;
    width: 40px;
    margin: 0 auto;
    padding: 0;
    margin-top: 20px;
  }

  .site-index .training > .training-contact > .training-contact-phone > phone{
    font-size: 18px;
  }

  .site-index > .news > .subscribe{
    margin: 30px 0;
  }

  .site-index > .news > .subscribe > .subscribe-btn > button{
    font-size: 18px;
    margin-left: 10px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .landing-info h1{
    font-size: 6rem;
  }

  .site-index .we p{
    padding: 10px 30px;
  }

  .site-index .we .img-left,
  .site-index .we .img-right{
    margin-top: 60px;
    height: 470px;
    width: 350px;
  }

  .site-index .training .dribbling,
  .site-index .training .shot,
  .site-index .training .skating,
  .site-index .training .dribbling img,
  .site-index .training .shot img,
  .site-index .training .skating img{
    height: 290px;
    width: 400px;
  }

  .site-index .training .training-contact-social img{
    height: 44px;
    width: 44px;
    margin: 0 auto;
    padding: 0;
    margin-top: 20px;
  }

  .site-index .training > .training-contact > .training-contact-phone > phone{
    font-size: 22px;
  }

  .site-index > .news > .subscribe{
    margin: 30px 100px;
  }

  .site-index .training > .training-contact > .training-contact-phone > phone{
    color: #222;
    font-size: 26px;
  }
}
