html,
body {
    height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow-x:hidden;
}

.wrap > .container {
    padding: 0;
    margin: 0;
    width: 100vw;
    z-index: 2;
}

img{
  z-index: 1;
}

.navbar-inverse{
  z-index: 10;
}

.navbar-noscroll{
  background-color: transparent;
  border: none;
}

.navbar-scroll{
  opacity: 0.8;
}

.navbar-scroll .navbar-nav > .active > a,
.navbar-scroll .navbar-nav > .active > a:hover,
.navbar-scroll .navbar-nav > .active > a:focus {
    border-top: 3px solid #05bca9;
    padding-top: 12px;
    background-color: transparent;
}

span.color-green{
  color: #05bca9;

}

.navbar-noscroll .navbar-nav > li > a {
  color: #f8f8f8;
  margin-right: 10px;
}

.navbar-noscroll .navbar-nav > li > a{
  margin-top: 25px;
}

.navbar-scroll .navbar-nav > li > a{
  margin-top: 10px;
}

.navbar-scroll .navbar-nav > .active > a,
.navbar-scroll .navbar-nav > .active > a:hover,
.navbar-scroll .navbar-nav > .active > a:focus,
.navbar-noscroll .navbar-brand:hover,
.navbar-noscroll .navbar-brand:focus,
.navbar-noscroll .navbar-nav > li > a:hover,
.navbar-noscroll .navbar-nav > li > a:focus {
  color: #05bca9;
}

.navbar-noscroll .navbar-nav > .active > a,
.navbar-noscroll .navbar-nav > .active > a:hover,
.navbar-noscroll .navbar-nav > .active > a:focus {
    color: #05bca9;
    border-top: 3px solid #05bca9;
    padding-top: 12px;
    background-color: transparent;
}

nav button.logout-noscroll{
  padding-top: 12px;
  color: #f8f8f8;
  margin-right: 10px;
  margin-top: 28px;
  background-color: transparent;
}

nav button.logout-noscroll:hover,
nav button.logout-scroll:hover {
  color: #c9302c;
}

nav button.logout-scroll{
  padding-top: 12px;
  color: #9d9d9d;
  margin-top: 13px;
  background-color: transparent;
}

nav{
  width: 100%;
  margin: 0;
  padding: 0;
}

header, .btn{
  font-size: 14px;
}

.navbar-brand{
  margin: 0;
  padding: 0;
}

.navbar-noscroll .navbar-brand > img{
  width: 100px;
  height: 80px;
}

.navbar-scroll .navbar-brand > img{
  width: 70px;
  height: 56px;
}

button.logout{
  margin-top: 20px;
}

@-webkit-keyframes FadeIn {
  100% {
		opacity: 1;
    margin-top: 30vh;
	}
}

@-moz-keyframes FadeIn {
  100% {
		opacity: 1;
    margin-top: 30vh;
	}
}

@keyframes FadeIn {
	100% {
		opacity: 1;
    margin-top: 30vh;
	}
}

.landing-info{
  opacity: 0.1;
  text-align: center;
  margin-top: 15vh;
  animation: FadeIn 1.2s linear;
  animation-fill-mode: forwards;
}

.landing-info h5{
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.8rem;
  line-height: 1.667;
  margin-bottom: 0.6rem;
  text-transform: uppercase;
  letter-spacing: .25rem;
}

.landing-info h1{
  color: #f8f8f8;
  font-size: 6rem;
  font-family: 'Neucha', cursive;
  line-height: 1.334;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

.stroke{
  color: #f8f8f8;
  font-size: 2.4rem;
  padding: 15px;
  border: 3px solid #f8f8f8;
  border-radius: 30px;
  display: inline-block;
  margin: 40px;
}

.stroke:focus, .stroke:hover{
  color: #05bca9;
  border: 3px solid #05bca9;
  border-radius: 30px;
  text-decoration: none;
}

.market-landing{
  background: url(../images/background-landing.png) no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	width: 100vw;
	height: 130vh;
	min-height: 720px;
	display: table;
	position: relative;
  opacity: 0.9;
}

.row{
  margin-top: 240px;
}

.row div{
  text-align: center;
}

.row phone{
  font-size: 28px;
  color: #f8f8f8;
}

.row i{
  color: #05bca9;
}

.row button{
  font-size: 17px;
  color: #222;
  background-color:#05bca9;
  margin-top: 17px;
  transition: transform 1s;
}

.row button:hover{
  transform: scale(1.3);
  color: #f8f8f8;
}

.row > .social{
  margin-top: 20px;
}

.row > .social img{
  height: 54px;
  width: 54px;
  margin-bottom: 26px;
}

footer > div.container-fluid{
  background-color: #222;
  color: #465166;
  padding-left: 0;
  padding-right: 0;
}

footer div.copy {
  font-size: 16px;
  margin: 0;
  padding: 3px;
  background-color: #14181E;
}

footer div.copy-left{
  text-align: right;
}

footer div.copy-right{
  text-align: left;
}

footer div.sniper {
  font-size: 16px;
  text-align: center;
  margin: 0;
  padding: 3px;
}

footer div.sniper h3.footer-h{
  color: #f8f8f8;
}

footer div.copy p{
  margin-top: 10px;
}

footer div.copy p.dev img{
  width: 24px;
  height: 24px;
}

footer div.copy p.dev::before{
  content: "|";
  display: inline-block;
  padding-right: 26px;
}

footer div.sniper img{
  width: 63px;
  height: 50px;
  margin-bottom: 10px;
}

footer div.sniper h3{
  font-size: 26px;
  letter-spacing: .3rem;
}

hr{
  border: 1px solid #05bca9;
  width: 300px;
}

footer div.sniper a{
  text-decoration: none;
  color: #465166;
}

footer div.sniper a.stroke{
  color: #f8f8f8;
  font-size: 1.6rem;
  padding: 15px;
  border: 3px solid #f8f8f8;
  border-radius: 30px;
  display: inline-block;
  margin: 20px;
}

footer div.sniper a:hover{
  color: #f8f8f8;
}

footer div.sniper a.stroke:hover{
  color: #05bca9;
  border: 3px solid #05bca9;
}

footer div.sniper div.site-map{
  margin: 0;
}


/*phones*/
@media (min-width: 0) and (max-width: 759px) {
  .navbar-scroll .navbar-nav > .active > a,
  .navbar-scroll .navbar-nav > .active > a:hover,
  .navbar-scroll .navbar-nav > .active > a:focus {
      border-left: 3px solid #05bca9;
      border-top: none;
      padding-top: 5px;
      padding-left: 10px;
      background-color: transparent;
  }
  .navbar-noscroll .navbar-nav > .active > a,
  .navbar-noscroll .navbar-nav > .active > a:hover,
  .navbar-noscroll .navbar-nav > .active > a:focus {
      color: #05bca9;
      border-left: 3px solid #05bca9;
      border-top: none;
      padding-top: 5px;
      padding-left: 10px;
      background-color: #222;
  }
  .navbar-noscroll .navbar-nav > li > a{
    margin-top: 0;
    opacity: 0.8;
    background-color: #222;
    font-size: italic;
    font-size: 10px;
  }

  .navbar-scroll .navbar-nav > li > a{
    margin-top: 0;
    font-size: 12px;
  }
  .navbar-noscroll .navbar-brand > img{
    width: 70px;
    height: 50px;
  }

  .landing-info h1{
    font-size: 4rem;
  }

  .landing-info h5{
    font-size: 1.3rem;
  }

  footer div.copy-left, footer div.copy-right{
    text-align: center;
  }

  footer div.copy p.dev::before{
    content: "";
    display: inline-block;
    padding-right: 0;
  }

}

/*tablets*/
@media (min-width: 760px) and (max-width: 992px) {
  .landing-info h1{
    font-size: 5rem;
  }

  .navbar-noscroll .navbar-nav > li > a,
  .navbar-scroll .navbar-nav > li > a {
    font-size: 12px;
  }

  footer div.copy-left, footer div.copy-right{
    text-align: center;
  }

  footer div.copy p.dev::before{
    content: "";
    display: inline-block;
    padding-right: 0;
  }
}
