html,
body {
    height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow-x:hidden;
  background-color: #222;
}

a, a:hover, phone{
  text-decoration: none;
}

div.block{
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #222;
  text-align: center;
}

div.loading{
  width: 100vw;
	height: 100px;
  padding-top: 50vh;
  text-align: center;
}

.loading span{
	display: inline-block;
	padding: 15px;
  margin:0;
	border-radius: 50%;
 }

.ball1{
  background:#ff0084;
  animation: move-left 800ms ease-in-out infinite alternate;*/
  transform: translate(34px,0);

 }

.ball2{
  background:#0063dc;
  animation: move-right 800ms ease-in-out infinite alternate;
  transform: translate(-34px,0);
}

@keyframes move-left  {
  0%{
    background:#0063dc;
  }

  100% {
    background:#ff0084;
    transform: translate(-34px,0);
	}
}
@keyframes move-right {
  0%{
    background:#ff0084;
  }

  100% {
    background:#0063dc;
    transform: translate(34px,0);
  }
}

div.wrap, footer{
  display: none;
}

div.wrap > div.container {
    padding: 0;
    margin: 0;
    width: 100vw;
}

nav.navbar-noscroll{
  background-color: transparent;
  border: none;
}

nav.navbar-scroll{
  opacity: 0.85;
}

nav.navbar-scroll ul.navbar-nav > li.active > a,
nav.navbar-scroll ul.navbar-nav > li.active > a:hover,
nav.navbar-scroll ul.navbar-nav > li.active > a:focus {
    border-top: 3px solid #05bca9;
    padding-top: 12px;
    background-color: transparent;
}

span.color-green, i{
  color: #05bca9;
}

nav.navbar-noscroll ul.navbar-nav > li > a {
  color: #f8f8f8;
  margin-right: 10px;
}

nav.navbar-noscroll ul.navbar-nav > li > a{
  margin-top: 25px;
}

.navbar-scroll ul.navbar-nav > li > a{
  margin-top: 10px;
}

nav.navbar-scroll ul.navbar-nav > .active > a,
nav.navbar-scroll ul.navbar-nav > .active > a:hover,
nav.navbar-scroll ul.navbar-nav > .active > a:focus,
nav.navbar-noscroll a.navbar-brand:hover,
nav.navbar-noscroll a.navbar-brand:focus,
nav.navbar-noscroll ul.navbar-nav > li > a:hover,
nav.navbar-noscroll ul.navbar-nav > li > a:focus {
  color: #05bca9;
}

nav.navbar-noscroll ul.navbar-nav > li.active > a,
nav.navbar-noscroll ul.navbar-nav > li.active > a:hover,
nav.navbar-noscroll ul.navbar-nav > li.active > a:focus {
    color: #05bca9;
    border-top: 3px solid #05bca9;
    padding-top: 12px;
    background-color: transparent;
}

nav button.logout-noscroll{
  padding-top: 12px;
  color: #f8f8f8;
  margin-right: 10px;
  margin-top: 28px;
  background-color: transparent;
}

nav button.logout-noscroll:hover,
nav button.logout-scroll:hover {
  color: #c9302c;
}

nav button.logout-scroll{
  padding-top: 12px;
  color: #9d9d9d;
  margin-top: 13px;
  background-color: transparent;
}

nav{
  width: 100%;
  margin: 0;
  padding: 0;
}

header, .btn{
  font-size: 14px;
}

a.navbar-brand{
  margin: 0;
  padding: 0;
}

nav.navbar-noscroll a.navbar-brand > img{
  width: 100px;
  height: 80px;
}

nav.navbar-scroll a.navbar-brand > img{
  width: 70px;
  height: 50px;
}

button.logout{
  margin-top: 20px;
}

footer > div.container-fluid{
  background-color: #222;
  color: #465166;
  padding-left: 0;
  padding-right: 0;
  padding-top: 30px;
}

footer div.copy {
  font-size: 16px;
  margin: 0;
  padding: 3px;
  background-color: #14181E;
}

footer div.copy-left{
  text-align: right;
}

footer div.copy-right{
  text-align: left;
}

footer div.sniper {
  font-size: 16px;
  text-align: center;
  margin: 0;
  padding: 3px;
}

footer div.sniper h3.footer-h{
  color: #f8f8f8;
}

footer div.copy p{
  margin-top: 10px;
}

footer div.copy p.dev img{
  width: 24px;
  height: 24px;
}

footer div.copy p.dev::before{
  content: "|";
  display: inline-block;
  padding-right: 26px;
}

footer div.sniper img{
  width: 63px;
  height: 50px;
  margin-bottom: 10px;
}

footer div.sniper h3{
  font-size: 26px;
  letter-spacing: .3rem;
}

hr{
  border: 1px solid #05bca9;
  width: 300px;
}

footer div.sniper a{
  color: #465166;
}

footer div.sniper a.stroke{
  color: #f8f8f8;
  font-size: 1.6rem;
  padding: 15px;
  border: 3px solid #f8f8f8;
  border-radius: 30px;
  display: inline-block;
  margin: 20px;
}

footer div.sniper a:hover{
  color: #f8f8f8;
}

footer div.sniper a.stroke:hover{
  color: #05bca9;
  border: 3px solid #05bca9;
}

footer div.sniper div.site-map{
  margin: 0;
}

/*media query*/
/*phones*/
@media (min-width: 0) and (max-width: 767px) {
  nav.navbar-scroll .navbar-nav > .active > a,
  nav.navbar-scroll .navbar-nav > .active > a:hover,
  nav.navbar-scroll .navbar-nav > .active > a:focus {
      border-left: 3px solid #05bca9;
      border-top: none;
      padding-top: 5px;
      padding-left: 10px;
      background-color: transparent;
  }
  nav.navbar-noscroll ul.navbar-nav > li.active > a,
  nav.navbar-noscroll ul.navbar-nav > li.active > a:hover,
  nav.navbar-noscroll ul.navbar-nav > li.active > a:focus {
      color: #05bca9;
      border-left: 3px solid #05bca9;
      border-top: none;
      padding-top: 5px;
      padding-left: 10px;
      background-color: #222;
  }
  nav.navbar-noscroll .navbar-nav > li > a{
    margin-top: 0;
    opacity: 0.8;
    background-color: #222;
    font-size: italic;
    font-size: 16px;
  }

  nav.navbar-scroll ul.navbar-nav > li > a{
    margin-top: 0;
    font-size: 16px;
  }
  nav.navbar-noscroll a.navbar-brand > img{
    width: 70px;
    height: 50px;
  }

  footer div.copy-left, footer div.copy-right{
    text-align: center;
  }

  footer div.copy p.dev::before{
    content: "";
    display: inline-block;
    padding-right: 0;
  }

  footer a.stroke{
    font-size: 14px;
  }
}

/*tablets*/
@media (min-width: 768px) and (max-width: 991px) {
  nav.navbar-noscroll ul.navbar-nav > li > a,
  nav.navbar-scroll ul.navbar-nav > li > a {
    font-size: 12px;
  }

  footer div.copy-left, footer div.copy-right{
    text-align: center;
  }

  footer div.copy p.dev::before{
    content: "";
    display: inline-block;
    padding-right: 0;
  }
}

/*small desktop*/
@media (min-width: 992px) and (max-width: 1199px) {
  footer a.stroke{
    font-size: 14px;
  }
}
