.auth-login{
	background-size: cover;
	width: 100vw;
	height: 100vh;
	min-height: 720px;
	display: table;
	position: relative;
  text-align: center;
	background-color: #d4d4d4;
}

.auth-login h1{
  margin: 0;
  padding-bottom: 20px;
}

.auth-login p{
	margin-bottom: 30px;
}

.auth-login .form-control{
	border: none;
	border-radius: 0;
	background-color: #f8f8f8;
	color: #222;
	border-bottom: 2px solid #05bca9;
	box-shadow: none;
}

.auth-login .auth-login-form{
  margin: 170px auto;
  color:#222;
  width: 40%;
	background-color: #f8f8f8;
	padding-top: 40px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.repair-session{
  margin: 10px auto;
	width: 60%;
}

.register-session{
  margin: 45vh auto;
	width: 60%;
	height: 60px;
	font-size: 1.5em;
}

.auth-signup .auth-login-form{
  margin: 100px auto;
}

.auth-login .auth-login-form .auth-login-input{
  width: 400px;
  margin: 5px auto;
}

.auth-login .auth-login-form .remember-left{
  text-align: center;
}

.auth-login .btn-login{
  margin-top: 0;
}

.auth-login button{
  margin-top: 0;
  margin-bottom: 60px;
}

.auth-login .btn-login .btn-left{
  text-align: right;
}

.auth-login .btn-login .btn-left button{
  background-color: #5cb85c;
  border-color: #5cb85c;
  color: #f8f8f8;
	margin-top: 20px;
}

.auth-login .btn-login .btn-left button:hover{
  background-color: #449d44;
  border-color: #449d44;
  transform: none;
}

.auth-login .btn-login .btn-right{
  text-align: left;
}

.auth-login .btn-login .btn-right button{
  background-color: #2e6da4;
  border-color: #2e6da4;
  color: #f8f8f8;
	margin-top: 20px;
}

.auth-login .btn-login .btn-right button:hover{
  background-color: #204d74;
  border-color: #204d74;
  transform: none;
}

.sendpassword{
  padding-top: 80px;
}

.sendpassword button {
  margin-top: 10px;
}

.verify{
  width: 120px;
  text-align: center;
  margin: 0 auto;
}

.auth-login .reg-mail{
	margin-bottom: 20px;
}

.auth-login .reg-verify{
	margin: 30px auto 5px auto;
}

@media (min-width: 0) and (max-width: 767px) {
  .auth-login .auth-login-form{
    width: 80%;
  }

	.auth-login .auth-login-form .remember-left{
		font-size: 0.8em;
	}

	.rep-pass{
		font-size: 2em;
	}

	.auth-login hr{
		width: 50vw;
	}

  .auth-login .auth-login-form .auth-login-input{
    width: 70%;
  }

  .auth-login .btn-login .btn-left,
  .auth-login .btn-login .btn-right {
    margin: 0;
  }

	.register-session{
		width: 90%;
		height: auto;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
  .auth-login .auth-login-form{
    width: 70%;
  }

	.register-session{
		width: 80%;
		height: auto;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
  .auth-login .auth-login-form{
    width: 60%;
  }

	.register-session{
		width: 70%;
		height: auto;
	}
}
