html,
body {
    height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow-x:hidden;
}

a, a:hover, phone{
  text-decoration: none;
}

/*layout*/
/*=====================================================================*/
.wrap > .container {
    padding: 0;
    margin: 0;
    width: 100vw;
}

.navbar-noscroll{
  background-color: transparent;
  border: none;
}

.navbar-scroll{
  opacity: 0.85;
}

.navbar-scroll .navbar-nav > .active > a,
.navbar-scroll .navbar-nav > .active > a:hover,
.navbar-scroll .navbar-nav > .active > a:focus {
    border-top: 3px solid #05bca9;
    padding-top: 12px;
    background-color: transparent;
}

span.color-green{
  color: #05bca9;

}

.navbar-noscroll .navbar-nav > li > a {
  color: #f8f8f8;
  margin-right: 10px;
}

.navbar-noscroll .navbar-nav > li > a{
  margin-top: 25px;
}

.navbar-scroll .navbar-nav > li > a{
  margin-top: 10px;
}

.navbar-scroll .navbar-nav > .active > a,
.navbar-scroll .navbar-nav > .active > a:hover,
.navbar-scroll .navbar-nav > .active > a:focus,
.navbar-noscroll .navbar-brand:hover,
.navbar-noscroll .navbar-brand:focus,
.navbar-noscroll .navbar-nav > li > a:hover,
.navbar-noscroll .navbar-nav > li > a:focus {
  color: #05bca9;
}

.navbar-noscroll .navbar-nav > .active > a,
.navbar-noscroll .navbar-nav > .active > a:hover,
.navbar-noscroll .navbar-nav > .active > a:focus {
    color: #05bca9;
    border-top: 3px solid #05bca9;
    padding-top: 12px;
    background-color: transparent;
}

nav button.logout-noscroll{
  padding-top: 12px;
  color: #f8f8f8;
  margin-right: 10px;
  margin-top: 28px;
  background-color: transparent;
}

nav button.logout-noscroll:hover,
nav button.logout-scroll:hover {
  color: #c9302c;
}

nav button.logout-scroll{
  padding-top: 12px;
  color: #9d9d9d;
  margin-top: 13px;
  background-color: transparent;
}

nav{
  width: 100%;
  margin: 0;
  padding: 0;
}

header, .btn{
  font-size: 14px;
}

.navbar-brand{
  margin: 0;
  padding: 0;
}

.navbar-noscroll .navbar-brand > img{
  width: 100px;
  height: 80px;
}

.navbar-scroll .navbar-brand > img{
  width: 70px;
  height: 56px;
}

button.logout{
  margin-top: 20px;
}

@-webkit-keyframes FadeIn {
  100% {
		opacity: 1;
	}
}

@-moz-keyframes FadeIn {
  100% {
		opacity: 1;
	}
}

@keyframes FadeIn {
	100% {
		opacity: 1;
	}
}

.landing-info{
  opacity: 0;
  text-align: center;
  margin-top: 30vh;
  animation: FadeIn 3s linear;
  animation-fill-mode: forwards;
}

.landing-info h5{
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.8rem;
  line-height: 1.667;
  margin-bottom: 0.6rem;
  text-transform: uppercase;
  letter-spacing: .25rem;
}

.landing-info h1{
  color: #f8f8f8;
  font-size: 8rem;
  font-family: 'Neucha', cursive;
  line-height: 1.334;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

a.stroke{
  color: #f8f8f8;
  font-size: 2.4rem;
  padding: 15px;
  border: 3px solid #f8f8f8;
  border-radius: 30px;
  display: inline-block;
  margin: 40px;
}

a.stroke:focus, a.stroke:hover{
  color: #05bca9;
  border: 3px solid #05bca9;
  border-radius: 30px;
}

.market-landing{
  background: url(../images/background-landing.jpg) no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	width: 100vw;
	height: 130vh;
	min-height: 720px;
	display: table;
	position: relative;
  opacity: 0.9;
}

.row{
  margin-top: 240px;
}

.row div{
  text-align: center;
}

.row phone{
  font-size: 28px;
  color: #f8f8f8;
}

.row i{
  color: #05bca9;
}

.row button{
  font-size: 17px;
  color: #222;
  background-color:#05bca9;
  margin-top: 17px;
  transition: transform 1s;
}

.row button:hover{
  transform: scale(1.3);
  color: #f8f8f8;
}

.row > .social{
  margin-top: 20px;
}

.row > .social img{
  height: 54px;
  width: 54px;
  margin-bottom: 26px;
}

footer > div.container-fluid{
  background-color: #222;
  color: #465166;
  padding-left: 0;
  padding-right: 0;
  padding-top: 30px;
}

footer div.copy {
  font-size: 16px;
  margin: 0;
  padding: 3px;
  background-color: #14181E;
}

footer div.copy-left{
  text-align: right;
}

footer div.copy-right{
  text-align: left;
}

footer div.sniper {
  font-size: 16px;
  text-align: center;
  margin: 0;
  padding: 3px;
}

footer div.sniper h3.footer-h{
  color: #f8f8f8;
}

footer div.copy p{
  margin-top: 10px;
}

footer div.copy p.dev img{
  width: 24px;
  height: 24px;
}

footer div.copy p.dev::before{
  content: "|";
  display: inline-block;
  padding-right: 26px;
}

footer div.sniper img{
  width: 63px;
  height: 50px;
  margin-bottom: 10px;
}

footer div.sniper h3{
  font-size: 26px;
  letter-spacing: .3rem;
}

hr{
  border: 1px solid #05bca9;
  width: 300px;
}

footer div.sniper a{
  color: #465166;
}

footer div.sniper aa.stroke{
  color: #f8f8f8;
  font-size: 1.6rem;
  padding: 15px;
  border: 3px solid #f8f8f8;
  border-radius: 30px;
  display: inline-block;
  margin: 20px;
}

footer div.sniper a:hover{
  color: #f8f8f8;
}

footer div.sniper aa.stroke:hover{
  color: #05bca9;
  border: 3px solid #05bca9;
}

footer div.sniper div.site-map{
  margin: 0;
}
/*end layout*/
/*=====================================================================*/

/*index*/
/*=====================================================================*/

div.site-index div.we div.index-we,
div.site-index div.we div.index-we > h1,
div.site-index div.we div.index-we > h3{
    background-color: transparent;
    margin: 0;
    padding: 0;
}

div.site-index{
  background-color: #f8f8f8;
  width: 100vw;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;
}

div.site-index div.we div.index-we{
  text-align: center;
  color: #222;
}

div.site-index div.we div.index-we > h3{
  padding-top: 60px;
  padding-bottom: 10px;
  opacity: 0.5;
  font-size: 1.8rem;
  line-height: 1.667;
  margin-bottom: 0.6rem;
  text-transform: uppercase;
  letter-spacing: .25rem;
}

div.site-index div.we hr{
  margin-bottom: 60px;
}

div.site-index div.we {
  margin-top: 0;
}

div.site-index div.we p{
  text-align: center;
  padding: 10px;
  font-size: 18px;
  opacity: 0.85;
  line-height: 1.6;
}

div.site-index div.we img.img-left{
  height: 550px;
  width: 400px;
  padding-top: 150px;
}

div.site-index div.we img.img-right{
  height: 550px;
  width: 400px;
  padding-top: 150px;
}

div.site-index a.stroke{
  color: #222;
  font-size: 2rem;
  border: 3px solid #222;
}

div.site-index a.stroke:focus, div.site-index a.stroke:hover{
  color: #05bca9;
  border: 3px solid #05bca9;
  border-radius: 30px;
}

div.site-index div.training{
  background-color: #d4d4d4;
  margin: 0;
  padding-top: 40px;
  text-align: center;
}

div.site-index div.training hr{
  margin-bottom: 60px;
}

div.site-index div.training .dribbling{
  background: url(../images/dribbling.jpg) no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
  height: 350px;
  width: 483px;
	position: relative;
  margin: 10px auto;
}

div.site-index div.training .shot{
  background: url(../images/shot.jpg) no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
  height: 350px;
  width: 483px;
	position: relative;
  margin: 10px auto;
}

div.site-index div.training .skating{
  background: url(../images/skating.jpg) no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
  height: 350px;
  width: 483px;
	position: relative;
  margin: 10px auto;
}

div.site-index div.training a{
  margin-top: 70px;
  margin-bottom: 70px;
}

div.site-index div.training h3{
  color: #f8f8f8;
  padding: 20px;
  margin: 0;
  font-size: 28px;
  height: auto;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #05bca9;
  opacity: 0.8;
}

div.site-index div.training h3:hover{
  opacity: 1;
  font-size: 32px;
}

div.site-index div.training > div.training-contact > div.training-contact-phone,
div.site-index div.training > div.training-contact > div.training-contact-social{
  padding-top: 65px;
}

div.site-index div.training > div.training-contact > div.training-contact-phone > phone{
  color: #222;
}

div.site-index > div.amplua > div#myCarousel img{
  width: 100%;
  height: 850px;
  opacity:1;
}

div.site-index > div.amplua > div#myCarousel div.carousel-caption{
  top: 0;
}

div.site-index > div.amplua > div#myCarousel div.carousel-caption h3{
  color: #05bca9;
  padding-top: 40px;
  padding-bottom: 10px;
  font-size: 18px;
  line-height: 1.667;
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

div.site-index > div.amplua > div#myCarousel div.carousel-caption hr.hr-white{
  border: 1px solid #f8f8f8;
  width: 100px;
}

div.site-index > div.amplua > div#myCarousel div.carousel-caption h1{
  color: #f8f8f8;
  font-family: 'Neucha', cursive;
  padding-top: 10px;
  padding-bottom: 30px;
  font-size: 122px;
  margin-bottom: 25px;
  margin-top: 180px;
}

div.site-index > div.news{
  background-color: #05bca9;
  margin: 0;
  padding: 0;
  text-align: center;
}

div.site-index > div.news h1{
  color: #222;
  margin-top: 50px;
}

div.site-index > div.news hr{
  border: 1px solid #f8f8f8;
}

div.site-index > div.news > div.subscribe{
  margin: 30px 230px;
}

div.site-index > div.news > div.subscribe input{
  display: block;
  padding: 9px;
  font-size: 20px;
  border: 5px solid rgba(255, 255, 255, .5);
  @include box-shadow(
  0 2px 10px rgba(0, 0, 0, .25) inset,
  0 2px 10px rgba(0, 0, 0, .25));
  @include border-radius(10px);
  background: rgba(255, 255, 255, .5);
  @include appearance(none);
  outline: none;
  color: #222;
  width: 70%;
  float:right;
}

div.site-index > div.news > div.subscribe > div.subscribe-input{
  text-align: right;
}

div.site-index > div.news > div.subscribe > div.subscribe-btn{
  text-align: left;
}

div.site-index > div.news > div.subscribe > div.subscribe-btn > button{
  padding: 10px;
  font-size: 20px;
  margin-left: 10px;
  margin-top: 3px;
  border: none;
  border: 2px solid #f8f8f8;
  color: #f8f8f8;
}

div.site-index > div.news > div.subscribe > div.subscribe-btn > button:hover{
  transform: none;
  border: 2px solid #222;
  color: #222;
}
/*end index*/
/*=====================================================================*/

/*error*/
/*=====================================================================*/
div.pages-error{
  background: url(../images/404.jpg) no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	width: 100vw;
	height: 100vh;
	min-height: 720px;
	display: table;
	position: relative;
  text-align: center;
}

div.pages-error > h1{
  color: #f8f8f8;
  font-size: 8rem;
  font-family: 'Neucha', cursive;
  line-height: 1.334;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 450px;
}

div.pages-error button.btn-error{
  margin-top: 25px;
  background-color: transparent;
  color: #f8f8f8;
  font-size: 20px;
  border: 2px solid #f8f8f8;
}

div.pages-error button.btn-error:hover{
  color: #05bca9;
  border: 2px solid #05bca9;
}
/*end error*/
/*=====================================================================*/

/*login*/
/*=====================================================================*/
div.auth-login{
  background: url(../images/login.jpg) no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	width: 100vw;
	height: 100vh;
	min-height: 720px;
	display: table;
	position: relative;
  text-align: center;
}

div.auth-login h1{
  margin: 0;
  padding-top: 60px;
}

div.auth-login div.auth-login-form{
  background-color: #222;
  margin: 170px auto;
  border: 3px solid #05bca9;
  border-radius: 28px;
  color:#f8f8f8;
  opacity: 0.9;
  width: 40%;
}

div.auth-signup div.auth-login-form{
  margin: 100px auto;
}

div.auth-login div.auth-login-form div.auth-login-input{
  width: 400px;
  margin: 5px auto;
}

div.auth-login div.auth-login-form div.remember-left{
  text-align: center;
}

div.auth-login div.btn-login{
  margin-top: 0;
}

div.auth-login div.btn-login button{
  margin-top: 0;
  margin-bottom: 60px;
}

div.auth-login div.btn-login div.btn-left{
  text-align: right;
}

div.auth-login div.btn-login div.btn-left button{
  background-color: #337ab7;
  border-color: #2e6da4;
  color: #f8f8f8;
}

div.auth-login div.btn-login div.btn-left button:hover{
  background-color: #286090;
  border-color: #204d74;
  transform: none;
}

div.auth-login div.btn-login div.btn-right{
  text-align: left;
}

div.auth-login div.btn-login div.btn-right button{
  background-color: #5cb85c;
  border-color: #4cae4c;
  color: #f8f8f8;
}

div.auth-login div.btn-login div.btn-right button:hover{
  background-color: #449d44;
  border-color: #398439;
  transform: none;
}

div.sendpassword{
  padding-top: 80px;
}

div.sendpassword button {
  margin-top: 10px;
}
/*end login*/
/*=====================================================================*/

/*about*/
/*=====================================================================*/
div.site-about{
  background: url(../images/about.jpg) no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	width: 100vw;
	height: auto;
	min-height: 720px;
	display: table;
	position: relative;
}

div.site-about > div.about-head{
  text-align: center;
  color: #f8f8f8;
  margin: 0;
  padding: 0;
  background-color: #222;
  opacity: 0.8;
  padding-top: 160px;
  padding-bottom: 160px;
}

div.site-about > div.about-head > h1{
  color: #f8f8f8;
  font-size: 8rem;
  font-family: 'Neucha', cursive;
  line-height: 1.334;
  max-width: 1200px;
  margin: 0 auto;

}

div.site-about > div.about-we{
  text-align: center;
  color: #222;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

div.site-about > div.about-we > div.row{
  margin-top: 0;
  padding-top: 70px;
  text-align: center;
}

div.site-about > div.about-we > div.row > h2{
  font-size: 38px;
}

div.site-about > div.about-we > div.row > div.about-info{
  margin: 50px 0 90px 0;
  padding-left: 30px;
  padding-right: 30px;
}

div.site-about > div.about-we > div.row > div.about-info > p{
  color: rgba(0, 0, 0, 0.6);
  padding: 30px;
  font-size: 24px;
}

div.site-about > div.about-we > div.row > div.about-contact{
  background-color: #222;
  border: 2px solid #05bca9;
  border-radius: 30px;
  margin: 80px 10px;
  padding-top: 30px;
  padding-bottom: 30px;
}

div.site-about > div.about-we > div.row > div.about-contact button{
  margin: 30px auto;
}

div.site-about > div.about-we > div.row > div.about-contact button:hover{
  transform: none;
}
/*end about*/
/*=====================================================================*/

/*media query*/
/*=====================================================================*/
/*phones*/
@media (min-width: 0) and (max-width: 759px) {
  /*layout media phones*/
  /*=====================================================================*/
  .navbar-scroll .navbar-nav > .active > a,
  .navbar-scroll .navbar-nav > .active > a:hover,
  .navbar-scroll .navbar-nav > .active > a:focus {
      border-left: 3px solid #05bca9;
      border-top: none;
      padding-top: 5px;
      padding-left: 10px;
      background-color: transparent;
  }
  .navbar-noscroll .navbar-nav > .active > a,
  .navbar-noscroll .navbar-nav > .active > a:hover,
  .navbar-noscroll .navbar-nav > .active > a:focus {
      color: #05bca9;
      border-left: 3px solid #05bca9;
      border-top: none;
      padding-top: 5px;
      padding-left: 10px;
      background-color: #222;
  }
  .navbar-noscroll .navbar-nav > li > a{
    margin-top: 0;
    opacity: 0.8;
    background-color: #222;
    font-size: italic;
    font-size: 16px;
  }

  .navbar-scroll .navbar-nav > li > a{
    margin-top: 0;
    font-size: 16px;
  }
  .navbar-noscroll .navbar-brand > img{
    width: 70px;
    height: 50px;
  }

  .landing-info h1{
    font-size: 4rem;
  }

  .landing-info h5{
    font-size: 1.3rem;
  }

  footer div.copy-left, footer div.copy-right{
    text-align: center;
  }

  footer div.copy p.dev::before{
    content: "";
    display: inline-block;
    padding-right: 0;
  }
  /*end layout media phones*/
  /*=====================================================================*/

  /*index media phones*/
  /*=====================================================================*/
  div.site-index div.we p{
    padding: 10px 30px;
  }

  div.site-index div.we img.img-left,
  div.site-index div.we img.img-right{
    height: 200px;
    width: 272px;
    padding: 0;
  }

  div.site-index div.training .dribbling,
  div.site-index div.training .skating,
  div.site-index div.training .shot{
    height: 290px;
    width: 400px;
  }

  div.site-index div.training div.training-contact {
    margin: 0;
    padding: 0;
  }

  div.site-index div.training > div.training-contact > div.training-contact-phone,
  div.site-index div.training > div.training-contact > div.training-contact-social{
    padding: 5px 0;
  }

  div.site-index > div.amplua div#myCarousel img{
    height: 400px;
  }

  div.site-index > div.amplua > div#myCarousel div.carousel-caption h1{
    margin-top: 10px;
    font-size: 72px;
  }

  div.site-index > div.news > div.subscribe{
    margin: 10px 20px;
  }

  div.site-index > div.news > div.subscribe > div.subscribe-input,
  div.site-index > div.news > div.subscribe > div.subscribe-btn{
    text-align: center;
  }

  div.site-index > div.news > div.subscribe > div.subscribe-input > input{
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
  div.site-index > div.news > div.subscribe > div.subscribe-btn > button{
    margin-bottom: 20px;
    margin-top: 10px;
  }
  /*end index media phones*/
  /*=====================================================================*/

  /*error media phones*/
  /*=====================================================================*/
  div.pages-error > h1{
    font-size: 5rem;
  }
  /*end error media phones*/
  /*=====================================================================*/

  /*login media phones*/
  /*=====================================================================*/
  div.auth-login div.auth-login-form{
    width: 80%;
  }

  div.auth-login div.auth-login-form div.auth-login-input{
    width: 70%;
  }

  div.auth-login div.btn-login div.btn-left,
  div.auth-login div.btn-login div.btn-right {
    margin: 0;
  }
  /*end login media phones*/
  /*=====================================================================*/

  /*about media phones*/
  /*=====================================================================*/
  div.site-about > div.about-head > h1{
    font-size: 3.5rem;
  }

  div.site-about > div.about-we > div.row > div.about-info > p{
    font-size: 18px;
  }

  div.site-about > div.about-we > div.row > div.about-contact phone{
    font-size: 20px;
  }

  div.site-about > div.about-we > div.row > div.about-contact{
    border-radius: 0;
    margin-bottom: 0;
  }

  div.site-about > div.about-we > div.row > div.about-info > p{
    padding-bottom: 5px;
  }
  /*end about media phones*/
  /*=====================================================================*/
}

/*tablets*/
@media (min-width: 760px) and (max-width: 992px) {
  /*layout media tablets*/
  /*=====================================================================*/
  .landing-info h1{
    font-size: 5rem;
  }

  .navbar-noscroll .navbar-nav > li > a,
  .navbar-scroll .navbar-nav > li > a {
    font-size: 12px;
  }

  footer div.copy-left, footer div.copy-right{
    text-align: center;
  }

  footer div.copy p.dev::before{
    content: "";
    display: inline-block;
    padding-right: 0;
  }
  /*end layout media tablets*/
  /*=====================================================================*/

  /*index media tablets*/
  /*=====================================================================*/
  div.site-index div.we p{
    padding: 10px 30px;
  }

  div.site-index div.we img.img-left,
  div.site-index div.we img.img-right{
    height: 250px;
    width: 340px;
    padding: 0;
  }

  div.site-index div.training div.training-contact {
    margin: 0;
    padding: 0;
  }

  div.site-index div.training > div.training-contact > div.training-contact-phone,
  div.site-index div.training > div.training-contact > div.training-contact-social{
    padding: 5px 0;
  }

  div.site-index > div.amplua div#myCarousel img{
    height: 500px;
  }

  div.site-index > div.amplua > div#myCarousel div.carousel-caption h1{
    margin-top: 50px;
    font-size: 102px;
  }

  div.site-index > div.news > div.subscribe{
    margin: 10px 20px;
  }

  div.site-index > div.news > div.subscribe > div.subscribe-input,
  div.site-index > div.news > div.subscribe > div.subscribe-btn{
    text-align: center;
  }

  div.site-index > div.news > div.subscribe > div.subscribe-btn > button{
    margin-bottom: 20px;
  }

  div.site-index > div.news > div.subscribe > div.subscribe-input > input{
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
  div.site-index > div.news > div.subscribe > div.subscribe-btn > button{
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 16px;
  }
  /*end index media tablets*/
  /*=====================================================================*/

  /*login media tablets*/
  /*=====================================================================*/
  div.auth-login div.auth-login-form{
    width: 70%;
  }
  /*end login media tablets*/
  /*=====================================================================*/

  /*about media tablets*/
  /*=====================================================================*/
  div.site-about > div.about-head > h1{
    font-size: 5rem;
  }

  div.site-about > div.about-we > div.row > div.about-info > p{
    font-size: 18px;
  }

  div.site-about > div.about-we > div.row > div.about-contact phone{
    font-size: 20px;
  }

  div.site-about > div.about-we > div.row > div.about-contact{
    border-radius: 0;
    margin-bottom: 0;
  }

  div.site-about > div.about-we > div.row > div.about-info > p{
    padding-bottom: 5px;
  }
  /*end about media tablets*/
  /*=====================================================================*/
}

/*small desktop*/
@media (min-width: 993px) and (max-width: 1241px) {
  /*layout media small desktop*/
  /*=====================================================================*/
  .landing-info h1{
    font-size: 6rem;
  }
  /*end layout media small desktop*/
  /*=====================================================================*/

  /*index media small desktop*/
  /*=====================================================================*/
  div.site-index div.we p{
    padding: 10px 30px;
  }

  div.site-index div.we img.img-left,
  div.site-index div.we img.img-right{
    margin-top: 60px;
    height: 420px;
    width: 280px;
  }

  div.site-index div.training .dribbling,
  div.site-index div.training .skating,
  div.site-index div.training .shot{
    height: 232px;
    width: 320px;
  }

  div.site-index div.training div.training-contact-social img{
    height: 40px;
    width: 40px;
    margin: 0 auto;
    padding: 0;
    margin-top: 20px;
  }

  div.site-index div.training div.training-contact-phone > phone{
    font-size: 18px;
  }

  div.site-index > div.amplua div#myCarousel img{
    height: 600px;
  }

  div.site-index > div.amplua > div#myCarousel div.carousel-caption h1{
    margin-top: 120px;
  }

  div.site-index > div.news > div.subscribe{
    margin: 30px 0;
  }

  div.site-index > div.news > div.subscribe > div.subscribe-btn > button{
    font-size: 18px;
    margin-left: 10px;
  }
  /*end index media small desktop*/
  /*=====================================================================*/

  /*login media small desktop*/
  /*=====================================================================*/
  div.auth-login div.auth-login-form{
    width: 60%;
  }
  /*end login media small desktop*/
  /*=====================================================================*/

  /*about media small desktop*/
  /*=====================================================================*/
  div.site-about > div.about-head > h1{
    font-size: 6rem;
  }

  div.site-about > div.about-we > div.row > div.about-info > p{
    font-size: 18px;
  }

  div.site-about > div.about-we > div.row > div.about-contact phone{
    font-size: 20px;
  }

  div.site-about > div.about-we > div.row > div.about-contact img{
    width: 32px;
    height: 32px;
  }

  div.site-about > div.about-we > div.row > div.about-contact button{
    font-size: 14px;
  }
  /*end about media small desktop*/
  /*=====================================================================*/
}

/* desktop*/
@media (min-width: 1245px) and (max-width: 1500px) {
  /*layout media desktop*/
  /*=====================================================================*/
  .landing-info h1{
    font-size: 6rem;
  }
  /*end layout media desktop*/
  /*=====================================================================*/

  /*index media desktop*/
  /*=====================================================================*/
  div.site-index div.we p{
    padding: 10px 30px;
  }

  div.site-index div.we img.img-left,
  div.site-index div.we img.img-right{
    margin-top: 60px;
    height: 470px;
    width: 350px;
  }

  div.site-index div.training .dribbling,
  div.site-index div.training .skating,
  div.site-index div.training .shot{
    height: 290px;
    width: 400px;
  }

  div.site-index div.training div.training-contact-social img{
    height: 44px;
    width: 44px;
    margin: 0 auto;
    padding: 0;
    margin-top: 20px;
  }

  div.site-index div.training div.training-contact-phone > phone{
    font-size: 22px;
  }

  div.site-index > div.amplua div#myCarousel img{
    height: 700px;
  }

  div.site-index > div.amplua > div#myCarousel div.carousel-caption h1{
    margin-top: 150px;
  }

  div.site-index > div.news > div.subscribe{
    margin: 30px 100px;
  }
  /*end index media desktop*/
  /*=====================================================================*/

  /*about media desktop*/
  /*=====================================================================*/
  div.site-about > div.about-we > div.row > div.about-info > p{
    font-size: 20px;
  }

  div.site-about > div.about-we > div.row > div.about-contact phone{
    font-size: 24px;
  }
  /*end about media desktop*/
  /*=====================================================================*/
}
