.site-trainer{
  width: 100vw;
	height: auto;
	display: table;
	position: relative;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  text-align: center;
}

.trainer-block{
  background-color: #05bca9;
  padding-bottom: 20px;
}

.trainer-block > hr {
  border:1px solid #222;
}

.trainer-block > h1{
  margin: 0;
  padding-top: 100px;
  font-size: 3.5em;
  color: #f8f8f8;
}

.trainer-gray,
.trainer-white{
  padding-bottom: 50px;
  text-align: center;
}

.trainer-gray p,
.trainer-white p{
  padding-right: 100px;
  padding-top: 20px;
  font-size: 2em;
  color: rgba(0, 0, 0, 0.5)
}

.trainer-gray{
  background-color: #d4d4d4;
}

.site-trainer h2{
  margin: 0;
  padding-top: 50px;
}

.site-trainer hr{
  margin-bottom: 50px;
}

.site-trainer img{
  width: 350px;
  height: 200px;
}
