.site-trainer{
  width: 100vw;
	height: auto;
	display: table;
	position: relative;
  margin: 0;
  padding: 0;
  background-color: #d4d4d4;
  text-align: center;
}

.trainer-block{
  background-color: #05bca9;
  padding-bottom: 20px;
}


.trainer-block > h1{
  margin: 0;
  padding-top: 100px;
  padding-bottom: 20px;
  font-family: 'Neucha', cursive;
  font-size: 4em;
  color: #f8f8f8;
}

.trainer-white{
  padding-bottom: 50px;
  text-align: center;
  padding-left: 5vw;
  padding-right: 5vw;
  background-color: #f8f8f8;
  margin: 40px 15vw;
}

.trainer-white p{
  padding-top: 10px;
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.5)
}

.site-trainer h2{
  margin: 0;
  padding-top: 50px;
}

.site-trainer hr{
  margin-bottom: 50px;
}

.site-trainer img{
  width: 20vw;
  height: 12vw;
}

@media (min-width: 0) and (max-width: 767px) {
  .trainer-white{
    margin: 40px 0;
  }

  .trainer-block > h1{
    font-size: 3em;
  }

  .trainer-white p{
      font-size: 1.2em;
  }

  .site-trainer img{
    width: 50vw;
    height: 35vw;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .trainer-white{
    margin: 40px 10vw;
  }

  .trainer-white p{
      font-size: 1.3em;
  }

  .site-trainer img{
    width: 30vw;
    height: 19vw;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .trainer-white p{
      font-size: 1.2em;
  }

  .trainer-white{
    padding-left: 2vw;
    padding-right: 2vw;
  }

}
