.site-video{
  width: 100vw;
	height: auto;
	display: table;
	position: relative;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  text-align: center;
}

.video-block{
  background-color: #05bca9;
  padding-bottom: 20px;
}

.video-block > h1{
  margin: 0;
  padding-top: 100px;
  padding-bottom: 20px;
  font-family: 'Neucha', cursive;
  font-size: 4em;
  color: #f8f8f8;
}

.video{
  margin: 40px 10vw;
}

.video iframe{
  width: 25vw;
  height: 17vw;
  margin: 0 1vw;
}


.pagination > .active > a,
.pagination > .active > a:hover{
  background-color: #05bca9;
  border: none;
}

@media (min-width: 0) and (max-width: 767px) {
  .video iframe{
    width: 65vw;
    height: 45vw;
  }

  .video-block > h1{
    font-size: 3em;
    padding-right: 5vw;
    padding-left: 5vw;
  }

  .video{
    margin: 40px 0;
  }
}
